# Makefile for libsimple_voip_wrap
# Copyright (C) 2018 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = simple_voip_wrap

LIB_BOOST_LIB_NAMES :=

LIB_SRCC = \
        wrap.cpp \
        str_helper.cpp \

LIB_EXT_LIB_NAMES = \
        scheduler \
        simple_voip \
        simple_voip_dummy \
        config_reader \
        utils \
        dtmf_tools \
        wav_tools \
        sndfile_cpp \
