# Makefile for libsimple_voip_wrap
# Copyright (C) 2018 Sergey Kolevatov

###################################################################

VER = 0

APP_PROJECT := example

APP_THIRDPARTY_LIBS = -lm

APP_SRCC = example.cpp

APP_EXT_LIB_NAMES = \
        scheduler \
        simple_voip \
        config_reader \
        utils \
        dtmf_tools \
